[submodule "HW1"]
	path = HW1
	url = git@github.com:NathanYee/HW1.git
[submodule "HW2"]
	path = HW2
	url = git@github.com:NathanYee/HW2.git
[submodule "in-class"]
	path = in-class
	url = https://github.com/CompArchFA18/in-class.git
[submodule "Lab0"]
	path = Lab0
	url = git@github.com:NathanYee/Lab0.git
[submodule "Lab1"]
	path = Lab1
	url = git@github.com:NathanYee/Lab1.git
[submodule "Lab2"]
	path = Lab2
	url = git@github.com:NathanYee/Lab2.git
[submodule "HW4"]
	path = HW4
	url = git@github.com:NathanYee/HW4.git
